.main-container {
  width: 290%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.header {
  font-size: 3rem;
  font-weight: bold;
  color: #ff4d4d;
  margin-bottom: 1rem;
}

.balance {
  margin-bottom: 1rem;
}

.form-container {
  margin-top: 2rem;
  border: 1px solid #cccccc;
  padding: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-container input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.form-container button {
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.form-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.disconnected-message {
  font-size: 0.875rem; /* Tamaño de fuente más pequeño */
  margin-top: 0.5rem; /* Espacio superior reducido */
  color: #666; /* Color de texto más suave */
}
.message {
  margin-top: 1rem;
  font-weight: bold;
  color: #4CAF50;
}

.connectButton:hover {
  background-color: #0056b3;
}

.rainbow-connect-button {
  padding: 5px 10px !important;
  font-size: 12px !important;
  border-radius: 4px;
  background-color: #f7f7fa;
  color: rgb(15, 15, 15);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
